.accountType {
    border: 1px solid white;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #f0f0f0;
    margin-block: 20px;
}
.accountType svg{
    opacity: 0;
    width: 30px;
    margin-left: auto;
}
.accountType:hover {
    border: 1px solid #4E934A;
    background-color: #F5F9FF;
}
.accountType:hover svg{
    opacity: 1;
}

.accountType--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.accountType--icon img:last-child {
    position: absolute;
}

.accountType--content p {
    color: gray;
    max-width: 25vw;
    padding-top: 5px;
}

